// Custom variables
@import "variables";
@import "grid";

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
}

body {
  background-color: white;
}

// Zoom effect
.medium-zoom-overlay{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    transition:opacity .3s;
    will-change:opacity;
    z-index:300
}
.medium-zoom--opened {
  .medium-zoom-overlay{
    cursor:zoom-out;
    opacity:1;
  }

  .zoomed-img {
    cursor:zoom-out;
    z-index: 500;
  }

}
.medium-zoom-image{
    cursor:pointer;
    cursor:zoom-in;
    transition:transform .8s cubic-bezier(.215,.61,.355,1),opacity .5s!important
}
.medium-zoom-image--hidden{
    visibility:hidden;
    z-index:300
}
.medium-zoom-image--opened{
    position:relative;
    cursor:pointer;
    cursor:zoom-out;
    will-change:transform;
    z-index:300
}

.img-container img {
  transition:transform .8s cubic-bezier(.215,.61,.355,1),opacity .5s!important
}

.img-container:hover img {
  // transition: transform 1.5s cubic-bezier(.19,1,.22,1)!important;
  // transform: perspective(1500px) translateZ(50px);
  cursor: zoom-in;
}

::selection {
    background: $color-blue;
    color: white;
    text-shadow: none;
 }

 .Site {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 .Site-content {
   flex: 1;
 }

 .wrapper {
   padding-left: 8%;
   padding-right: 8%
 }

 .poster_bg {
   background: url(../img/devcon_poster.jpg);
   background-position: center;
   background-size: cover;
   height: 100vh;
 }

.about_image {
  background: url(../img/gallery/2019/DSC_002.JPG);
  background-position: center;
  background-size: cover;
  height: 50vh;
}


nav {
  margin-bottom: 8%;
}

.topnav {
  display: flex;
  justify-content: space-around;
}

.logo {
	background-image: url(img/logo.svg);
	background-repeat: no-repeat;
	height: 5.6em;
	width: 8.8em;
  margin-top: 3em;
	float: left;
	cursor: pointer;
}

.logo_blck {
	background-image: url(../img/logo_blck.svg);
	background-repeat: no-repeat;
	height: 5.6em;
	width: 8.8em;
  margin-top: 3em;
	float: left;
	cursor: pointer;
}

nav ul {
  list-style: none;
  margin-top: 4em;
}

nav ul li a {
  font-family: aktiv-grotesk, sans-serif;
	font-weight: 700;
	font-size: 1.8em;
	color: $color-white;
  text-decoration: none;
}

nav ul li a:hover {
	// color: $color-red;
	padding-bottom: 0.2em;
	border-bottom: 0.2em solid;
	text-decoration: none;
}

.current a {
	padding-bottom: 0.2em;
	border-bottom: 0.2em solid;
	text-decoration: none;
}

.devconlogo {
  display: flex;
  margin: 0 auto 0 auto;
  height: 10em;
  // height: 14em;
  width: 18em;
}

.ctabutton {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-size: 2.1em;
  box-sizing: border-box;
  color: $color-white;
  text-decoration: none;
  cursor: pointer;
  max-width: 240px;
  padding: 1.8rem 2.1rem;
  border: none;
  // border-radius: 16px;
  background-color: darken( $color-red, 30%);
  display: block;
  margin: 0 auto;
  text-align: center;
  // -webkit-box-shadow: 0px 12px 21px -6px rgba(0,38,49,0.8);
  // -moz-box-shadow: 0px 12px 21px -6px rgba(0,38,49,0.8);
  // box-shadow: 0px 12px 21px -6px rgba(0,38,49,0.8);
  transition: all 300ms ease-in-out;
}

.ctabutton:hover {
  background-color: darken( $color-red, 15%);
}

.footerlogo {
	background-image: url(img/logo_blck.svg);
	background-repeat: no-repeat;
	height: 4.5em;
	width: 8em;
	cursor: pointer;
  display: block;
  margin: 0 auto;
}

footer {
	margin-top: 6%;
}

.footer_navigation ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.footer_navigation ul {
	padding: 0;
	margin-top: 3.6em;
}

.footer_navigation ul li a {
  font-family: aktiv-grotesk, sans-serif;
	font-weight: 700;
	font-size: 1.6em;
	color: $color-black;
  text-decoration: none;
}

.footer_navigation ul li a:hover {
	color: $color-red;
	text-decoration: none;
	padding-top: 0.2em;
	border-top: 0.2em solid;
}

.current_footer a{
	color: $color-black;
	padding-top: 0.2em;
	border-top: 0.2em solid;
	text-decoration: none;
}

.footer__links_wrapper {
  display: flex;
  justify-content: space-around;
}

ul.footer__link_list {
  list-style: none;
  padding-left: 0;
  margin-top: 0.6em;
}
.footer__link_list li a{
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 500;
  font-size: 1.4em;
  line-height: 160%;
	color: $color-red;
  text-decoration: none;
}

.lnklistspace {
  margin-right: 1.4em;
}

.footer__link_list li a:hover{
  border-bottom: 1px solid $color-red;
}

ul.logos {
  padding-left: 0;
  list-style: none;
  margin-top: 9em;
}

ul.logos li a {
  display: block;
  margin: 0 auto 4.8em auto;
  max-width: 180px;
}
ul.logos li img {
  display: block;
  margin: 0 auto 4.8em auto;
  max-width: 180px;
}

ul.logos li a:hover {
  opacity: .9;
}

.logos li a > img{
  max-height: 180px;
  margin: 0 auto 4.8em auto;
}

ul.speakers, ul.talks {
  padding-left: 0;
  list-style: none;
}

ul.talks li {
  margin-bottom: 4em;
}

ul.speakers li{
  margin-bottom: 12em;
}

ul.speakers p {
  margin-bottom: 1em;
}

.spacing {
  margin-top: 2.1em;
}

.speakerimg {
 box-sizing: border-box;
}

.left {
  border-left: 3.6em solid $color-red;
}

.right {
  border-right: 3.6em solid $color-blue;
  float: right;
}
.rightphone {
  border-right: 3.6em solid $color-blue;
}

.bio {
  margin: 0 auto;
  max-width: 60em;
  // display: inline-block;
}

ul.qa {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

ul.qa li {
  margin-bottom: 6em;
}

ul.qa li > h3, p {
  margin-top: 0;
}

ul.program {
  list-style: none;
  // padding: 0;
  margin: 0 auto 0 auto;
  // text-align: center;
}

ul.program li {
  margin-bottom: 4.8em;
  margin-left: auto;
  margin-right: auto;
  max-width: 38em;
}

ul.program li > h3, p {
  margin: 0;
  padding-bottom: .4em;
}

ul.program li  a {
  display: inline-block;
  color: $color-red;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8em;
  text-decoration: none;
}

ul.program li  a:hover {
  text-decoration: underline;
}

ul.contact__link_list {
  list-style: none;
  padding: 0;
  margin: 0 auto 0 auto;
  margin-bottom: 3.6em;
}
.contact__link_list a{
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 500;
  font-size: 1.8em;
  line-height: 160%;
	color: $color-red;
  text-decoration: none;
}

.contact__link_list a:hover{
  border-bottom: 1px solid $color-red;
}

.faq_links {
  position: fixed;
  right: 10%;
  max-width: 20em;
}

ul.faq__link_list {
  // list-style: none;
  padding: 0;
  margin: 0 auto 0 auto;
  margin-bottom: 3.6em;
}
.faq__link_list a{
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 500;
  font-size: 1.4em;
  line-height: 160%;
	color: $color-red;
  text-decoration: none;
}

.faq__link_list a:hover{
  border-bottom: 1px solid $color-red;
}
ul.faq__link_list li > h4 {
  margin-top: 0;
  margin-bottom: .6em;
}

ul.innerlist {
  font-family: courier-prime, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8em;
  line-height: 150%;
  color: $color-black;
  margin-top: 1.6em;
  list-style: disc;
}

ul.innerlist li {
  margin-bottom: 1.2em;
}

ul.gallery {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

ul.gallery li {
  display: inline-block;
  margin-bottom: 2em;
}

.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.video-space {
  margin-bottom: 10%;
}

h1 {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-variant: normal;
  font-size: 7.2em;
  line-height: 125%;
  text-align: center;
	color:$color-black;
  margin-top: 1em;
  margin-bottom: .5em;
}

h2 {
  font-family: courier-prime, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 2.8em;
  line-height: 125%;
	margin-top: 1.2em;
  margin-bottom: 1em;
	color: $color-black;
}

h3 {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-variant: normal;
  font-size: 2.8em;
  line-height: 125%;
  margin-top: 1.2em;
  margin-bottom: 1em;
  color: #002026;
}

h4 {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 300;
  font-variant: normal;
  font-size: 1.4em;
  line-height: 125%;
  margin-top: 2.1em;
  margin-bottom: 0;
  color: $color-black;
}

h5 {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-variant: normal;
  font-size: 4.8em;
  line-height: 125%;
	color:$color-black;
  margin-top: 0;
  margin-bottom: 1.2em;
}

p {
  font-family: courier-prime, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8em;
	line-height: 150%;
	color: $color-black;
  margin-top: 0;
}

.center {
  text-align: center;
}

.white {
  color: $color-white
}

.colorblack {
  color: $color-black;
}

.uppercase {
  text-transform: uppercase;
}

.subtext {
  font-size: 2.4em;
  margin-bottom: 4em;
}

.description {
	font-size: 1.8em;
	letter-spacing: 0.06em;
	text-align: center;
	margin-bottom: 3em;
	max-width: 35em;
  padding: 0 1em;
}

.language {
  font-size: 1.6em;
}

.warning {
  display: block;
  padding: 8px 12px;
  background-color: #0000ff;
  margin: 0 auto 8px auto;
  max-width: 585px;
  text-transform: uppercase;
}

.warning2 {
  display: block;
  padding: 8px 12px;
  background-color:  darken( $color-red, 30%);
  margin: 0 auto 8px auto;
  max-width: 215px;
  text-transform: uppercase;
}

.blink_me {
  -webkit-animation: blinker .2s linear infinite;
          animation: blinker .2s linear infinite;
   // animation-duration: 1s;
   -webkit-animation-delay: 2s;
           animation-delay: 2s;
   -webkit-animation-iteration-count: 7;
           animation-iteration-count: 7;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.copyright {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  text-align: center;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.text_undercolor {
  background-color: #fff;
  max-width: 65em;
  margin-left: auto;
  margin-right: auto;
  padding: 4.6em;
  margin-top: 20em;
}

.textwrapper {
  padding: 0 3.6em;
  border-left: 3.6em solid $color-red;
  max-width: 65em;
  margin-left: auto;
  margin-right: auto;
}
.textwrapper p {
  margin-bottom: 1em;
}

.innerlinks {
  color: $color-blue;
  text-decoration: none;
}
.innerlinks:hover, .innerlinks:active {
  text-decoration: underline;
}

.innerlinksfix {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.formbackgroud {
  background-color: $color-blue;
  max-width: 60em;
  padding: 1em 7.2em 4.8em 7.2em;
  margin: 0 auto;
  // border-left: 7.2em solid $color-red;
}

.formbackgroud > h3 {
  font-size: 1.8em;
}
form {
  box-sizing: border-box;
  margin: 0 auto 0 auto;
}

input, textarea, select {
  font-family: courier-prime, monospace;
  font-weight: 400;
  font-style: normal;
  background-color: #ffffff;
  border: none;
  // border-bottom: 4px solid $color-black;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 42px;
  width: 99%;
  padding: 4px 8px;
  margin-bottom: 8px;
  font-size: 1.8em;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: $color-black;
  vertical-align: middle;
}

textarea {
  height: auto; }

textarea:focus, input:focus, select:focus {
  outline: none;
  box-shadow: none; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $color-black; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: $color-black; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: $color-black; }

:-moz-placeholder {
  /* Firefox 18- */
  color: $color-black; }


.submit {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-size: 1.8em;
  box-sizing: border-box;
  color: $color-white;
  text-decoration: none;
  cursor: pointer;
  max-width: 180px;
  padding: 1.2rem 3.6rem;
  border: none;
  // border-radius: 16px;
  background-color: darken( $color-red, 30%);
  display: block;
  width: 100%;
  text-align: center;
  transition: all 300ms ease-in-out;
}

.submit:hover {
background-color: darken( $color-red, 20%);
}

.gmap_canvas {
  box-sizing: border-box;
  border-left: 3.6em solid $color-red;
}

  /* The side navigation menu */
.hidedesktop  {
  display: none;
}
.hidesmall {
  display: inline-block;
}

.talks_title {
  margin: 0.5em 0 0 0;
}

.talks_link {
  display: inline-block;
  color: #FF8C8C;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8em;
  text-decoration: none;
}

.hamburger {
  cursor: pointer;
  font-size: 2.8em;
  font-weight: bold;
  color: $color-white;
  float: right;
  margin-top: 32px;
}
.hamburgerblck {
    cursor: pointer;
    font-size: 2.8em;
    color: $color-black;
    float: right;
    margin-top: 32px;
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  right: 0;
  background-color: $color-red;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.05s;
  /* 0.5 second transition effect to slide in the sidenav */
  // -webkit-box-shadow: -5px 0px 10px 0px rgba(63, 63, 63, 0.2);
  // -moz-box-shadow: -5px 0px 10px 0px rgba(63, 63, 63, 0.2);
  // box-shadow: -5px 0px 10px 0px rgba(63, 63, 63, 0.2);
}

/* The navigation menu links */
.sidenav a {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 500;
  font-size: 2.1em;
  padding: 8px 8px 10px 32px;
  text-decoration: none;
  color: $color-black;
  display: block;
  text-align: center;
  transition: 0.3s; }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: $color-white }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 10px;
  font-size: 36px; }


  @media screen and (max-width: 736px) {
    .poster_bg {
      height: auto;
      padding-bottom: 7.2em;
    }
  }

  @media screen and (max-width: 1440px) {
    nav {
      margin-bottom: 8%;
    }
    .spaceoverwrite {
      margin-bottom: 12%;
    }
    .devconlogo {
      margin: 0 auto 0 auto;
    }
    .subtext {
      font-size: 2.1em;
    }
    .devconlogo{
      height: 12em;
      width: 16em;
    }
    h1{
      font-size: 6em;
    }
    h2
    {
      font-size: 2.6em;
    }
  }

  // @media screen and (min-width: 1382px) , screen and (max-height: 670px) {
  //   .poster_bg {
  //     height: auto;
  //     padding-bottom: 7.2em;
  //   }
  // }

@media screen and (max-height: 900px) {
  .poster_bg {
    height: auto;
    padding-bottom: 7.2em;
  }
}
@media screen and (max-height: 900px) {
    nav {
      margin-bottom: 6%;
    }
    .spaceoverwrite {
      margin-bottom: 10%;
    }
    h1 {
      font-size: 5.5em;
    }
    h2
    {
      font-size: 2.1em;
    }
    .subtext {
      font-size: 1.8em;
    }
    footer {
    	margin-top: 8%;
    }
  }
@media screen and (max-width: 1299px) {
  .faq_links {
  position: initial;
  margin-left: auto;
  margin-right: auto;
  max-width: 65em;
  }
}

@media screen and (max-width: 900px) {
  .topnav  {
    display: none;
  }
  .hidedesktop {
    display: block;
  }
  .hidesmall {
    display: none;
  }
  .logo {
    display: none;
  }
  .textwrapper {
  padding: 0 2.8em;
  // border-left: 6em solid #FF8C8C;
  }
  .formbackgroud {
    padding: 1em 6em 4.8em 6em;
  }
  footer {
  	margin-top: 14%;
  }
  .logos li a > img{
    max-height: 140px;
    margin: 0 auto 2.1em auto;
  }
  ul.logos li img {
    max-height: 140px;
    margin: 0 auto 2.1em auto;
  }
}

@media screen and (max-width: 890px) {
  nav ul li a {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 770px) {
  .devconlogo{
    height: 10em;
    width: 14em;
  }
  .textwrapper {
  padding: 0 2.1em;
  border-left: 4.8em solid #FF8C8C;
  }
  // .left {
  //   border-left: 4.8em solid $color-red;
  // }
  // .right {
  //   border-right: 4.8em solid $color-blue;
  // }
  // .rightphone {
  //   border-right: 4.8em solid $color-blue;
  // }
  .formbackgroud {
    padding: 1em 4.8em 3.6em 4.8em;
  }
  ul.innerlist li {
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 660px) {
  .footer_navigation {
    display: none;
  }
	.logo {
		height: 2.5em;
		width: 26em;
	}
  .textwrapper {
    padding: 0 1.8em;
    border-left: 2em solid #FF8C8C;
  }
  .textwrapper > p {
    font-size: 1.8em;
  }
  .left {
    border-left: 2em solid $color-red;
  }
  .right {
    border-right: 2em solid $color-blue;
  }
  .rightphone {
    border-right: 2em solid $color-blue;
  }
  .formbackgroud {
    padding: 1em 2em 3.6em 2em;
  }
  .gmap_canvas {
    border-left: 2em solid $color-red;
  }
  .bio > p {
    font-size: 1.8em;
  }
  .bio > h3 {
    font-size: 2.6em;
    margin-top: .8em;
  }
  .program h3 {
    font-size: 2.6em;
  }
  .program p {
    font-size: 1.8em;
  }
  ul.program li a {
    font-size: 1.6em;
  }
  ul.program li {
    margin-bottom: 3.6em;
  }
  ul.speakers li {
  margin-bottom: 6em;
  }
  ul.qa li {
    margin-bottom: 4.8em;
  }
  ul.qa h3 {
    font-size: 2.6em;
  }
  ul.qa p {
    font-size: 1.8em;
  }
  h5 {
    font-size: 3.6em;
  }
  ul.innerlist li {
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 500px) {
  .textwrapper > p {
    font-size: 1.6em;
  }
  .bio > p {
    font-size: 1.6em;
  }
  .bio > h3 {
    font-size: 2.4em;
  }
  .program h3 {
    font-size: 2.4em;
  }
  .program p {
    font-size: 1.6em;
  }
  ul.program li a {
    font-size: 1.4em;
  }
  ul.program li {
    margin-bottom: 2.8em;
  }
  ul.speakers li {
  margin-bottom: 5.5em;
  }

  ul.qa h3 {
    font-size: 2.4em;
  }
  ul.qa p {
    font-size: 1.6em;
  }
  ul.innerlist li {
    margin-bottom: 1em;
  }
  ul.innerlist {
    font-size: 1.6em;
  }
  ul.innerlist li {
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 400px) {
  ul.speakers li {
  margin-bottom: 4.8em;
  }
}
@media screen and (max-width: 375px) {
  .footer__links_wrapper {
    display: block
  }
  .footer__links_wrapper {
    text-align: center;
  }
}
