<section class="container-fluid">
  <div class="row">
    <div class="col col--12-of-12">
      <div class="textwrapper">
        <p>
          DevCon|Skopje aims to be a by-the-community for-the-community web and mobile development conference, the first of its type in Macedonia. The goal is to have a yearly event, supported by carefully picked companies that care for the quality
          of our craft and staying up-to-date with new web and mobile technologies, languages, patterns and libraries.
        </p>
        <p>
          It is a conference accessible to everyone, focusing on in-depth talks and hands-on workshops, held by proven professionals from domestic and international IT communities. It empowers diversity of ideas.
          A conference with an accepting environment that provides space for making friends instead of recruitment, marketing or sales event.
          A place in which you can learn and meet like-minded folks that love what they do.
        </p>
        <p>Everyone likes being around like-minded people!</p>
      </div>
    </div>
  </div>
</section>
