<div class="wrapper container-fluid">
  <div class="row">
    <div class="col col--4-of-12">
      <div class="contactlinks">

        <ul class="contact__link_list">
          <li><h3>Get in touch</h3></li>
          <li><a href="mailto:hello@devcon.dev" class="mail">hello@devcon.dev</a></li>
          <!-- <li><a href="tel:+359888884126" class="tel">+359&nbsp;888&nbsp;884126</a></li> -->
        </ul>
      </div>
    </div>


    <div class="col col--8-of-12">
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe width="100%" height="484" id="gmap_canvas" src="https://maps.google.com/maps?q=skopje%20city%20hall&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          </div>
        <style>
          .mapouter {
            text-align: right;
            height: 484px;
            width: 100%;
          }

          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 484px;
            width: 100%;
          }
        </style>
      </div>
    </div>

</div>
