<div class="container-fluid wrapper">
  <div class="row">
    <div class="col col--12-of-12">
    <div class="faq_links">
      <ul class="faq__link_list">
        <li style="list-style: none;"><h4>quick links:</h4></li>
        <li><a href="#question1">How much does it cost to attend DevCon Skopje?</a></li>
        <li><a href="#question2">Can I register a group?</a></li>
        <li><a href="#question3">When/where do I pick up my badge/ticket?</a></li>
        <li><a href="#question4">Can I apply as a speaker for DevCon Skopje?</a></li>
        <li><a href="#question5">Will there by wi-fi access available at the venue?</a></li>
        <li><a href="#question6">Can I cancel my registration?</a></li>
        <li><a href="#question7">Can I watch the DevCon sessions after the event?</a></li>
      </ul>
    </div>
    </div>
    <div class="row">
    <div class="col col--12-of-12">
      <ul class="qa textwrapper" style="border: none;">
        <li id="question1">
          <h3>How much does it cost to attend DevCon Skopje?</h3>
          <p>The event is free of charge and only has limited capacity.</p>
        </li>
        <li id="question2">
          <h3>Can I register a group?</h3>
          <p>Unfortunately, only individual registrations are allowed.</p>
        </li>
        <li id="question3">
          <h3>When/where do I pick up my badge/ticket?</h3>
          <p>By registering online, you will automatically be added to the guest list. As you enter the venue, you will need to show an ID and get your badge which will grant you access to the presentations, refreshments and closing party.</p>
        </li>
        <li id="question4">
          <h3>Can I apply as a speaker for DevCon Skopje?</h3>
          <p>All speaker slots have been taken for the 2019 edition. You can contact us at hello@devcon.dev and we can arrange for your participation as a speaker at the next event.</p>
        </li>
        <li id="question5">
          <h3>Will there by wi-fi access available at the venue?</h3>
          <p>The event organizers cannot guarantee the availability or quality of the internet connection at City Hall. The best option is to use a mobile hotspot.</p>
        </li>
        <li id="question6">
          <h3>Can I cancel my registration?</h3>
          <p>You can send us an e-mail at <a href="mailto:hello@devcon.dev" class="innerlinks">hello@devcon.dev</a> and we'll cancel your registration.</p>
        </li>
        <li id="question7">
          <h3>Can I watch the DevCon sessions after the event?</h3>
          <p>All talks will be recorded. We'll upload them for public access in the days after DevCon.</p>
        </li>
      </ul>
    </div>
  </div>
</div>
