<div class="container-fluid wrapper">
  <div class="row">
      <h3 class="center uppercase spacing">Partners</h3>
      <ul class="logos">
        <div class="col col--4-of-12 col--m-1-of-3">
          <li>
            <img src="img/partnerlogos/foundry_logo.png" class="img-responsive" alt="Foundry">
          </li>
        </div>
        <div class="col col--4-of-12 col--m-1-of-3">
          <li>
            <a href="https://www.melontech.com" target="_blank"><img src="img/partnerlogos/melon_logo.png" class="img-responsive" alt="Melon"></a>
          </li>
        </div>
        <div class="col col--4-of-12 col--m-1-of-3">
          <li>
            <a href="https://hfour.com" target="_blank"><img src="img/partnerlogos/h4_logo.png" class="img-responsive" alt="H4"></a>
          </li>
        </div>
      </ul>
    </div>

</div>
