  <div class="container-fluid">
    <div class="row">
      <div class="col col--12-of-12">
        <img class="devconlogo" src="img/logo_blck.svg" alt="Devcon logo">
        <!-- <img class="devconlogo" src="img/devcon_logo.svg" alt="Devcon logo"> -->
        <h2 class="center">May 11th, 2020 at City Hall<br>Skopje, Macedonia</h2>

        <!-- FEW SEATS LEFT LABEL  -->
        <!-- <p class="white center warning blink_me">Do not postpone registration - only a few places left!</p> -->

        <h1 class="center">Meet the faces behind the code</h1>
        <p class="center subtext">Web and mobile community in-depth talks and hands-on workshops enhancing the coding craft.</p>


        <!-- CTA BUTTON hide when no more seat are left-->
        <a class="ctabutton" href="registration.html">Register Now</a>

        <!-- Make visible when no more seat are left-->
        <!-- <p class="white center warning2">No more seats left.</p> -->

      </div>
    </div>
</div>
</div>
