<div class="container-fluid wrapper">
  <div class="row">
    <div class="col col--12-of-12">
      <div class="formbackgroud">
        <h3 class="">Please fill in the form to reserve your place at DevCon Skopje 2019:</h3>

        <form id="contactform">
          <!-- <label for="contact-name">Name</label> -->
          <input type="text" name="name" placeholder="First Name*" required="" class="First Name">
          <!-- <label for="contact-name">Name</label> -->
          <input type="text" name="name" placeholder="Last Name*" required="" class="last Name">
          <!-- <label for="contact-email">email</label> -->
          <input type="text" name="_replyto" placeholder="Email*" required="" class="mail">
          <!-- <label for="contact-phone">Phone</label> -->
          <input type="text" name="phone" placeholder="Phone" class="phone">
          <input type="text" name="_gotcha" style="display:none">
          <button class="submit" type="submit" value="Send">Register</button>
        </form>
      </div>
      <!-- <a class="ctabutton"href="success.html">succes</a> -->

    </div>
  </div>
</div>
