<div class="container-fluid wrapper">
  <div class="row">
    <div class="col col--12-of-12 col--centered">
    <!-- <h3 class="center" style="margin-top: 0; color: #FF8C8C;">Schedule still under construction</h3> -->
    <div class="col col--4-of-12">
      <ul class="program">
        <li>
          <h3>9:00 &ndash; 10:00</h3>
          <p>Registration & Coffee</p>
          <p>***</p>
        </li>
        <li>
          <h3>10:00 &ndash; 10:15</h3>
          <p>Opening</p>
          <p>***</p>
        </li>
        <li>
          <h3>10:15 &ndash; 11:00</h3>
          <p>React Hooks. What, how, and why.</p>
          <a href="speakers.html#DimitarDelev">Dimitar Delev</a>
          <!-- <p class="language">[English]</p> -->

          <p>***</p>
        </li>
        <li>
          <h3>11:00 &ndash; 11:45</h3>
          <p>The Text-independent Speaker Identification and Diarisation Systems</p>
          <!-- <p class="language">[English]</p> -->
          <a href="speakers.html#AleksandarMelov">Aleksandar Melov</a>
          <p>***</p>
        </li>
        <li>
          <h3>11:45 &ndash; 12:00</h3>
          <p>Coffee Break</p>
          <p>***</p>
        </li>
      </ul>
    </div>
    <div class="col col--4-of-12">
      <ul class="program">
        <li>
          <h3>12:00 &ndash; 12:45</h3>
          <p>Introduction to GraphQL</p>
          <!-- <p class="language">[English]</p> -->
          <a href="speakers.html#StefanJanev">Stefan Janev</a>
          <p>***</p>
        </li>
        <li>
          <h3>12:45 &ndash; 13:30</h3>
          <p>Electron: Desktop apps with JavaScript</p>
          <!-- <p class="language">[English]</p> -->
          <a href="speakers.html#BojanBojinovski">Bojan Bozinovski</a>
          <p>***</p>
        </li>
        <li>
          <h3>13:30 &ndash; 14:15</h3>
          <p>Lunch Break</p>
          <p>***</p>
        </li>
        <li>
          <h3>14:15 &ndash; 15:00</h3>
          <p>DoS-ing Sedmica</p>
          <!-- <p class="language">[English]</p> -->
          <a href="speakers.html#AndrejTrajcevski">Andrej Trajcevski</a>
          <p>***</p>
        </li>
        <li>
          <h3>15:00 &ndash; 15:45</h3>
          <p>ProtoBuf: gRPC and Versioned Technology Agnostic Communication</p>
          <!-- <p class="language">[English]</p> -->
          <a href="speakers.html#RadoGabrovski">Radoslav Gabrovski</a>
          <p>***</p>
        </li>
      </ul>
        </div>
        <div class="col col--4-of-12">
        <ul class="program">
          <li>
            <h3>15:45 &ndash; 16:00 </h3>
            <p>Coffee Break</p>
            <p>***</p>
          </li>
          <li>
            <h3>16:00 &ndash; 16:45</h3>
            <p>Writing correct programs</p>
            <!-- <p class="language">[English]</p> -->
            <a href="speakers.html#BoroSitnikovski">Boro Sitnikovski</a>
            <p>***</p>
          </li>
          <li>
            <h3>16:45 &ndash; 17:30</h3>
            <p>Navigating the hype-driven world of frontend development without going crazy</p>
            <!-- <p class="language">[English]</p> -->
            <a href="speakers.html#KristijanRistovski">Kristijan Ristovski aka Kitze</a>
            <p>***</p>
          </li>
          <li>
            <h3>17:30 &ndash; 19:00</h3>
            <p>Closing Party</p>
            <p>***</p>
          </li>
          <!-- <li>
            <h3>22:00&ndash;02:30</h3>
            <p>Community Event</p>
            <p>***</p>
          </li> -->
      </ul>
    </div>

    </div>
  </div>
</div>
