<section>
  <div class="container-fluid">

    <div class="row">
      <div class="col col-12-of-12">
        <p>2019 2020</p>
      </div>
    </div>

    <div class="row">
        <ul class="speakers">
          <li class="talkstumbs">
            <div class="col col--3-of-12">
              <a href="Dimitar_Delev.html"><img src="img/talks/2019/talks_Dimitar_Delev.png" class="img-responsive" alt=""></a>
              <p>React Hooks. What, how, and why.</p>
                <p>Dimitar Delev</p>
            </div>
          </li>

          <li class="talkstumbs">
            <div class="col col--3-of-12">
              <a href="Alexandar_Melov.html"><img src="img/talks/2019/talks_Alexandar_Melov.png" class="img-responsive" alt=""></a>
              <p>The Text-independent Speaker Identification and Diarisation Systems</p>
                <p>Alexandar Melov</p>
            </div>
          </li>

          <li class="talkstumbs">
            <div class="col col--3-of-12">
              <a href="Stefan_Janev.html"><img src="img/talks/2019/talks_Stefan_Janev.png" class="img-responsive" alt=""></a>
              <p>Introduction to GraphQL</p>
                <p>Stefan Janev</p>
            </div>
          </li>

          <li class="talkstumbs">
            <div class="col col--3-of-12">
              <a href="Bojan_Bozinovski.html"><img src="img/talks/2019/talks_Bojan_Bozinovski.png" class="img-responsive" alt=""></a>
              <p>Electron: Desktop apps with JavaScript</p>
                <p>Bojan Bozinovski</p>
            </div>
          </li>

          <li class="talkstumbs">
            <div class="col col--3-of-12">
              <a href="Andraj_Trajcevski.html"><img src="img/talks/2019/talks_Andraj_Trajcevski.png" class="img-responsive" alt=""></a>
              <p>DoS-ing Sedmica</p>
                <p>Andrej Trajcevski</p>
            </div>
          </li>

          <li class="talkstumbs">
            <div class="col col--3-of-12">
              <a href="Boro_Sitnikovski.html"><img src="img/talks/2019/talks_Bojan_Bozinovski.png" class="img-responsive" alt=""></a>
              <p>Writing correct programs</p>
                <p>Boro Sitnikovski</p>
            </div>
          </li>

          <li class="talkstumbs">
            <div class="col col--3-of-12">
              <a href="Rado_Gabrovski.html"><img src="img/talks/2019/talks_Rado_Gabrovski.png" class="img-responsive" alt=""></a>
              <p>ProtoBuf: gRPC and Versioned Technology Agnostic Communication</p>
                <p>Radoslav Gabrovski</p>
            </div>
          </li>

          <li class="talkstumbs">
            <div class="col col--3-of-12">
              <a href="Kitze.html"><img src="img/talks/2019/talks_Kitze.png" class="img-responsive" alt=""></a>
              <p>Navigating the hype-driven world of frontend development without going crazy</p>
                <p>Kristijan Ristovski aka Kitze</p>
          </li>

          <!-- <li class="talkstumbs">
              <div class="col col--3-of-12">
                <div class="video-responsive">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/BcHEHoAFtqA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>

              </div>
              <div class="col col--7-of-12">
                <div class="bio">
                  <h3>React Hooks. What, how, and why.</h3>
                    <p>Dimitar Delev</p>
                </div>
              </div>
          </li>

          <li class="talkstumbs">

              <div class="col col--3-of-12">
                <div class="video-responsive">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/2Sk7rLEnxNw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>

          </li>

          <li>
            <div class="row">
              <div class="col col--7-of-12 col col--centered">
                <div class="video-responsive">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/1xR1yM7s_CE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <div class="col col--7-of-12 col col--centered">
                <div class="video-responsive">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/qwbUGEmy9ng" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <div class="col col--7-of-12 col col--centered">
                <div class="video-responsive">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/kPJKtw07TrI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <div class="col col--7-of-12 col col--centered">
                <div class="video-responsive">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/0PxD35iILpk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <div class="col col--7-of-12 col col--centered">
                <div class="video-responsive">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/hDOjmYl1EPc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <div class="col col--7-of-12 col col--centered">
                <div class="video-responsive">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/2TfkvkuSTy8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </li> -->

        </ul>
      </div>
    </div>
  </div>
</section>
