  <div class="container-fluid wrapper">

    <!-- <div class="row">
      <div class="col col-12-of-12">
        <p>2019 2020</p>
      </div>
    </div> -->

    <div class="row">
        <ul class="talks">
          <div class="col col--3-of-12">
            <li>
              <a href="Dimitar_Delev.html"><img src="img/talks/2019/talks_Dimitar_Delev.png" class="img-responsive" alt=""></a>
              <p class="talks_title">React Hooks. What, how, and why.</p>
              <a class="talks_link" href="Dimitar_Delev.html#DimitarDelev">Dimitar Delev</a>
            </li>
          </div>

          <div class="col col--3-of-12">
            <li>
              <a href="Alexandar_Melov.html"><img src="img/talks/2019/talks_Alexandar_Melov.png" class="img-responsive" alt=""></a>
              <p class="talks_title">The Text-independent Speaker Identification and Diarisation Systems</p>
              <a class="talks_link" href="Alexandar_Melov.html#AleksandarMelov">Aleksandar Melov</a>
            </li>
          </div>

          <div class="col col--3-of-12">
            <li>
              <a href="Stefan_Janev.html"><img src="img/talks/2019/talks_Stefan_Janev.png" class="img-responsive" alt=""></a>
              <p class="talks_title">Introduction to GraphQL</p>
              <a class="talks_link" href="Stefan_Janev.html#StefanJanev">Stefan Janev</a>
            </li>
          </div>


          <div class="col col--3-of-12">
            <li>
              <a href="Bojan_Bozinovski.html"><img src="img/talks/2019/talks_Bojan_Bozinovski.png" class="img-responsive" alt=""></a>
              <p class="talks_title">Electron: Desktop apps with JavaScript</p>
              <a class="talks_link" href="Bojan_Bozinovski.html#BojanBojinovski">Bojan Bozinovski</a>
            </li>
          </div>

          <div class="col col--3-of-12">
            <li>
              <a href="Andraj_Trajcevski.html"><img src="img/talks/2019/talks_Andraj_Trajcevski.png" class="img-responsive" alt=""></a>
              <p class="talks_title">DoS-ing Sedmica</p>
              <a class="talks_link" href="Andraj_Trajcevski.html#AndrejTrajcevski">Andrej Trajcevski</a>
            </li>
          </div>

          <div class="col col--3-of-12">
            <li>
              <a href="Boro_Sitnikovski.html"><img src="img/talks/2019/talks_Bojan_Bozinovski.png" class="img-responsive" alt=""></a>
              <p class="talks_title">Writing correct programs</p>
              <a class="talks_link" href="Boro_Sitnikovski.html#BoroSitnikovski">Boro Sitnikovski</a>
            </li>
          </div>

          <div class="col col--3-of-12">
            <li>
              <a href="Rado_Gabrovski.html"><img src="img/talks/2019/talks_Rado_Gabrovski.png" class="img-responsive" alt=""></a>
              <p class="talks_title">ProtoBuf: gRPC and Versioned Technology Agnostic Communication</p>
              <a class="talks_link" href="Rado_Gabrovski.html#RadoGabrovski">Radoslav Gabrovski</a>
            </li>
          </div>
          <div class="col col--3-of-12">
            <li>
              <a href="Kitze.html"><img src="img/talks/2019/talks_Kitze.png" class="img-responsive" alt=""></a>
              <p class="talks_title">Navigating the hype-driven world of frontend development without going crazy</p>
              <a class="talks_link" href="Kitze.html#KristijanRistovski">Kristijan Ristovski aka Kitze</a>
            </li>
          </div>

        </ul>
      </div>
    </div>
